/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d4d0d0;
}
/*utility*/
.background{
    background-color: white;
}
.margin{
    margin-left: 15%;
    margin-right: 15%;
}
/*Header*/
.cont-header{
    height: 80px;
    line-height: 80px;
}
.title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}
#logo{
    vertical-align: middle;
    margin-left: 20px;
}
header{
    margin-bottom: 20px;
}
/*Nav*/
nav{
    margin-bottom: 2px;
    border-top: 20%;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
}
.but1{
    margin-left: 10%;
    background-color: #00ccff;
    color: white;
    border: white;
}
.but2{
    background-color: white;
    color: lightgrey;
}
/*main*/
main{
    padding-top: 15px;
    padding-bottom: 15px;
}
ul{
    list-style: none;
    margin-left: 10%;
    margin-bottom: 20px;
}
li{
    margin-bottom: 10px;
}
.done{
    display: inline-block;
    color: green;
    border-color: green;
    border: 1px solid;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    margin-right: 5px;
}
.to-do{
    display: inline-block;
    color: red;
    border-color: red;
    border: 1px solid;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    margin-right: 5px;
}
.post-it{
    display: inline-block;
    text-align: center;
    height: 15px;
    width: 60px;
    color: white;
    margin-left: 5px;
    font-size: x-small;
    padding: 2px;
    border-radius: 25%;
}
.celeste{
    background-color: #00ccff;
}
.purple{
    background-color: rgb(129, 31, 129);
}
.rose{
    background-color: rgb(187, 86, 103);
}
.orange{
    background-color: orange;
}
.green{
    background-color: rgb(62, 146, 62);
}
.lightgreen{
    background-color: rgb(117, 182, 117);
}